* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--inter-font);
}

header {
  background-color: var(--white);
  color: var(--primary);
  padding: 15px;
  text-align: center;
}

header h1 {
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  width: 150px;
  text-align: left;
}

header h4 {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  width: calc(100% - 150px);
}

footer {
  background: #ffffff17;
  color: var(--white);
  padding: 5px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

footer p {
  opacity: 0.7;
  margin: 0;
  letter-spacing: .3px;
  font-size: 12px;
  font-weight: 200;
}

.dashboard {
  height: 100%;
}

.dashboard .head {
  padding: 2rem;
}

.dashboard .head h1 {
  color: var(--primary);
  font-size: 35px;
  font-weight: 800;
  margin: 0;
}

.dashboardUI {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
}

.dashboardUI li {
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  border-radius: var(--border-radius);
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
}

.dashboardUI li span svg {
  font-size: 45px;
}

.dashboardUI li p {
  font-size: 20px;
  line-height: 20px;
}

.dashboardUI li p:last-child {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
}

.dashboardUI li p {
  margin: 0;
}

.dashboardUI li:nth-child(1) {
  background: var(--primary-light);
  color: var(--primary);
}

.dashboardUI li:nth-child(2) {
  background: var(--secondary-light);
  color: var(--secondary);
}

.dashboardUI li:nth-child(3) {
  background: var(--bs-light-red);
  color: var(--bs-red);
}

.dashboardUI li:nth-child(4) {
  background: var(--color-light-success);
  color: var(--color-success);
}

.dashboardUI li:nth-child(5) {
  background: var(--light-sky-blue);
  color: var(--sky-blue);
}

p.clickHerePara {
  font-size: 13px;
  text-align: right;
  color: var(--gray);
  font-weight: 500;
}

a.clickHere {
  color: var(--primary);
}

.ListUI label {
  font-size: 14px;
  color: var(--gray);
  font-weight: 500;
}