@media (max-width:767px) {
    body {
        background-image: linear-gradient(to right, var(--primary), var(--primary-dark));
    }

    header h1,
    header h4 {
        width: 100%;
        text-align: center;
    }

    header h4 {
        font-size: 18px;
    }

    .FormUI {
        width: 100%;
    }

    nav.bg-primary {
        display: none;
        transition: all .3s ease-in-out;
        height: 0;
        overflow: hidden;
    }

    nav.bg-primary.active {
        display: block;
        width: 100%;
        height: auto;
    }

    .dashboardUI {
        gap: 10px;
    }

    .dashboardUI li {
        width: 48%;
    }

    .dashboardUI li span svg {
        font-size: 30px;
    }

    .dashboardUI li p {
        font-size: 15px;
        line-height: 18px;
    }

    .dashboardUI li p:last-child {
        font-size: 40px;
        line-height: 40px;
        font-weight: 700;
    }

    .mob-center {
        text-align: center;
    }

    #root .content {
        height: auto;
        display: block;
    }

    footer {
        background: var(--secondary);
        position: relative;
    }

    .mob-display {
        display: block !important;
    }

    .btn.mob-display {
        position: absolute;
        right: 5px;
        top: 30px;
        z-index: 9;
    }

    .btn.mob-display span {
        width: 15px;
        height: 2px;
        display: block;
        background: var(--secondary);
        margin: 2px;
    }
}